.navbar-list {
    font-size: 24px;
    font-weight: 500;
    color: white;
    font-family: 'Playfair Display';
}

.navbar-social img{
    width: 26px;
}

@media screen and (min-width: 40rem ) and (max-width: 64rem ){
    .navbar-list {
        font-size: 18px;
    }
}